{% extends "proj/base.html.twig" %}

{% block title %}Data page{% endblock %}

{% block body %}
    <div class="main-content-grid">
        <div class="content-column">
            {{ content|raw }}

            <!-- Canvas för att visa fiskbeståndsgrafen -->
            <canvas id="fishStockChart" width="400" height="200"></canvas>

            <!-- JSON för fiskbestånd -->
            <script id="fishStockData" type="application/json">
                {{ fishStockData|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
            </script>

                        <!-- Canvas för att visa marint skyddsgrafen -->
            <canvas id="marineProtectionChart" width="400" height="200"></canvas>

            <!-- JSON för marint skydd -->
            <script id="marineProtectionData" type="application/json">
                {{ marineProtectionData|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
            </script>

            {% block javascripts %}
                {{ encore_entry_script_tags('proj') }}
            {% endblock %}
        </div>
        <div class="image-column">
            <img src="{{ asset('img/hav3.JPG') }}" alt="Bild 3">
        </div>
    </div>
{% endblock %}
