{% extends "base.html.twig" %}

{% block title %}Kortspel{% endblock %}

{% block body %}

<div class="inner-container grid-container">
    <div class="sidebar">
        <ul>
            <li><a href="{{ path('card') }}">Start</a></li>
            <li><a href="{{ path('deck') }}">Visa hela kortleken</a></li>
            <li><a href="{{ path('shuffle') }}">Blanda och visa kortleken</a></li>
            <li><a href="{{ path('draw') }}">Dra ett kort från kortleken</a></li>
            <li><a href="{{ path('draw_number') }}">Dra flera kort från kortleken</a></li>
            <li><a href="{{ path('session') }}">Visa sessionens innehåll</a></li>
            <li><a href="{{ path('session_delete') }}">Radera sessionens innehåll</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Välkommen till Kortspel</h1>
        <p>Här kan du hantera en kortlek på olika sätt. Blanda, visa hela kortleken, dra ett eller flera kort och hantera dina dragningar med session.</p>
        <h2>UML och översikt av klasstruktur</h2>
        <p></p>

        <img src="{{ asset('img/cardsUML.jpg') }}" alt="UML" class="image">
    </div>
</div>

{% endblock %}
