{% extends "base.html.twig" %}

{% block title %}Kortspelet 21{% endblock %}

{% block body %}

<div class="inner-container grid-container">
    <div class="sidebar">
        <ul>
            <li><a href="{{ path('game') }}">Spela</a></li>
            <li><a href="{{ path('doc') }}">Dokumentation</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Välkommen till kortspelet 21!</h1>
        <p>Här ska du dra kort från en blandand kortlek och försöka uppnå en så hög poäng som möjligt utan att överstiga 21. Ess kan räknas antingen som 1 eller 14 poäng, övriga klädda kort är värda 11-13 poäng och numrerade kort har sitt siffervärde.</p>
        <ul>
            <li><a href="{{ path('doc') }}">Regler</a></li>
            <li><a href="{{ path('doc') }}">Dokumentation</a></li>
            <li><a href="{{ path('play') }}">Starta spelet!</a></li>
        </ul>
    </div>
</div>

{% endblock %}
