{% extends "base.html.twig" %}

{% block title %}Spela{% endblock %}

{% block body %}

<div class="inner-container grid-container">
    <div class="sidebar">
        <ul>
            <li><a href="{{ path('game') }}">Spela</a></li>
            <li><a href="{{ path('doc') }}">Dokumentation</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Välkommen att spela kortspelet 21!</h1>
        <p>Här kan du ta del av information om spelet eller starta ett nytt spel.</p>
        <a href="{{ path('doc') }}">Regler</a>
        <a href="{{ path('doc') }}">Dokumentation</a>
        <a href="{{ path('doc') }}">Börja spela!</a>

    </div>
</div>

{% endblock %}
