{% extends "base.html.twig" %}

{% block title %}API Overview{% endblock %}

{% block body %}
<div class="inner-container">
    <h1>API Overview</h1>
    <p>Below are the JSON routes available in this application:</p>
    <ul>
        {% for route in apiRoutes %}
            <li>
                <strong>{{ route.title }}:</strong>
                {% if route.method == 'GET' %}
                    <a href="{{ path(route.name) }}" target="_blank">{{ route.path }}</a>
                {% else %}
                    {{ route.path }} - {{ route.method }}
                    <form method="post" action="{{ path(route.name) }}">
                        {% if route.name == 'api_deck_draw_number' %}
                            <label for="number_{{ loop.index }}">Number of Cards:</label>
                            <input type="number" name="number" id="number_{{ loop.index }}" value="1" min="1">
                        {% endif %}
                        <input type="submit" value="Test {{ route.title }}">
                    </form>
                {% endif %}
                <br>
                {{ route.description }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}