{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="inner-container grid-container">
    <div class="sidebar">
        <ul>
            <li><a href="{{ path('library_home') }}">Library</a></li>
            <li><a href="{{ path('library_create') }}">Add book to library</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Book Details</h1>

        <div class="book-details">
            <img src="{{ asset('img/' ~ book.image) }}" alt="{{ book.title }}" width="200">
            <h2>{{ book.title }}</h2>
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        </div>
    </div>
</div>
{% endblock %}
